name: Test Conditional Workflow
on:
  workflow_dispatch:
jobs:
  Build_and_Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/Checkout@v3
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run Test
        #Step Id to be used by other steps to access the step outcomes.
        id: gradle-build
        run: ./gradlew run test
      - name: Run on Failure
        #Based on the outcome of the step with ID: gradle-build, the Run on Failure step runs else will be omitted.
        if: failure() && steps.gradle-build.conclusion == 'failure'
        run: echo "Test Execution Failed! Entering Conditional Workflow Step"
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "Deploying...."
