name: Dev Build and Deploy
on:
  push:
    branches:
      - main
    #Any changes pushed to the file paths below mentioned will be skipped.
    paths-ignore:
      - ".github/**"
  #workflow_dispatch has to be included in below manner when custom details are provided
  workflow_dispatch:
jobs:
  #Job 1 which runs the gradle build and testcases in the project.
  Build_and_Test:
    #The GitHub Action doesn't run on the repository. It runs on the Virtual runner environment.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        #Using Custom action for checking out the code to the GitHub Runner
        uses: actions/Checkout@v3
      - name: Install Java
        #Installing the specified version & distribution of Java in the runner environment
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Gradle Build
        run: ./gradlew clean build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GHA-Artifact
          path: build/libs
  #Job 2 which is used to deploy the code. Runs independently from the Build_and_Test job.
  Deploy:
    #Specifying the job that has to be completed before the Deploy Job can be completed.
    needs: Build_and_Test
    #Deploy job having its own GitHub Runner. Each Job runs independently on it own set of runners(Virtual M/Cs), isolated from other machines & Jobs.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/Checkout@v3
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Gradle Build
        run: ./gradlew build
      - name: Deploy
        run: |
              echo "Deploying your Application..."
              echo "Application Deployed!"