name: Dev Build and Deploy
on:
  push:
    branches:
      - main
    #Any changes pushed to the file paths below mentioned will be skipped.
    paths-ignore:
      - ".github/**"
  #workflow_dispatch has to be included in below manner when custom details are provided
  workflow_dispatch:
jobs:
  #Job 1 which runs the gradle build and testcases in the project.
  Build_and_Test:
    #The GitHub Action doesn't run on the repository. It runs on the Virtual runner environment.
    runs-on: ubuntu-latest
    outputs:
      cache_status: ${{ steps.cache_dependency.outputs.cache-hit }}
    steps:
      - name: Checkout Code
        #Using Custom action for checking out the code to the GitHub Runner
        uses: actions/Checkout@v3
      - name: Install Java
        #Installing the specified version & distribution of Java in the runner environment
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Cache Dependencies
        uses: actions/cache@v5
        id: cache_dependency
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{runner.os}}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Check Dependency Cached
        if: steps.cache_dependency.outputs.cache-hit == 'true'
        run: echo "Cache Fetched Successfully!!"
      - name: Gradle Build
        run: ./gradlew clean build
      - name: Upload Artifact
        #GitHub Provided action to upload the artifact
        uses: actions/upload-artifact@v4
        with:
          #Name of the artifact folder
          name: GHA-Artifact
          #File paths to be included in the Job Artifact
          path: build/libs
  #Job 2 which is used to deploy the code. Runs independently from the Build_and_Test job.
  Deploy:
    #Specifying the job that has to be completed before the Deploy Job can be completed.
    needs: Build_and_Test
    #Deploy job having its own GitHub Runner. Each Job runs independently on it own set of runners(Virtual M/Cs), isolated from other machines & Jobs.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/Checkout@v3
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Check Dependency Cached
        if: ${{ needs.Build_and_Test.outputs.cache_status }} == 'true'
        run: echo "Cache Fetched Successfully!!"
      - name: Cache Dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          #The key created when saving a cache and the key used to search for a cache
          key: ${{runner.os}}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          #Optional used to find/restore the cache if not cache hit occurs for key. Matches cache keys prefixed with npm-feature-
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Gradle Build
        run: ./gradlew build
      - name: Download Artifact
        #GitHub provided action to download the Job Artifact
        uses: actions/download-artifact@v4
        with:
          #Name of the job artifact to be downloaded from Job Artifact Repository
          name: GHA-Artifact
      - name: List File Contents
        run: ls
  #Testing the reusable workflow
  Artifact_Deploy:
    needs: Deploy
    uses: ./.github/workflows/reusable_workflow.yml