name: Reusable Deploy
#workflow_call signifies that the workflow has to be executed only when explicitly invoked.
on: workflow_call
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: |
          echo "Deploying your Application..."
          echo "Application Deployed!"