name: Reusable Deploy
#workflow_call signifies that the workflow has to be executed only when explicitly invoked.
on:
  workflow_call:
    #Input data to be provided from the calling workflow.
    inputs:
      #input variable name
      file-path:
        #Input variable description
        description: 'artifactory file path'
        #Specifies if the input value is mandatory or not
        required: true
        #Default value to be provided in case value if not provided
        default: GHA-Artifact
        #Variable data-type
        type: string
    #Secrets can be passed onto the reusable workflow from the calling workflow
    secrets:
      username:
        required: true
      password:
        #Note that the default value cannot be provided for secrets.
        required: false
    outputs:
      result:
        description: Result from the Reusable Workflow
        #jobs context is specific for reusable workflow to access the output from the reusable workflow.
        value: ${{ jobs.Artifactory_Deployment.outputs.reusable_result }}
jobs:
  Artifactory_Deployment:
    runs-on: ubuntu-latest
    #Initializing value to the output variable from the jobs
    outputs:
      reusable_result: ${{ steps.reusable_step.outputs.reusable_result }}
    steps:
      - name: Download Artifact
        #GitHub provided action to download the Job Artifact
        uses: actions/download-artifact@v4
        with:
          #Name of the job artifact to be downloaded from Job Artifact Repository
          name: ${{ inputs.file-path }}
      - name: List File Contents
        run: ls
      - name: Deploy
        run: |
          echo "Deploying your Application..."
          echo "Application Deployed!"
      - name: Reusable Workflow Secret
        run: |
          echo "USERNAME: ${{ secrets.username }}"
          echo "PASSWORD: ${{ secrets.password }}"
      - name: Reusable Output
        id: reusable_step
        run: |
          echo "reusable_result=Hello->Reusable Workflow" >> "$GITHUB_OUTPUT"
      - name: Logging Output
        run: |
          echo "Inside Reusable-Workflow Output: ${{ steps.reusable_step.outputs.reusable_result }}"